.Oorientleft flt-glass-pane {
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: 50% 50%;
}

.Oorientright flt-glass-pane {
    -webkit-transform: rotate(90deg);
}

@media (orientation: landscape) {
  boddddy {
    -webkit-transform: scale(0.667);
    		-webkit-transform-origin: top right;
    		position: absolute;
    		right: 0;
    		top: 0;
    		width: 480px;
  }
}